@(users: List[User])(implicit flash: play.api.mvc.Flash)
@layout("play-demo-index") {
	<a href="/add">添加</a>
	<hr/>
	@flash.get("success").map { message =>
        <div>
            <strong>@message</strong> 
        </div>
    }
	<table>
		<tr><th>ID</th><th>姓名</th><th>年龄</th><th>操作</th></tr>
		@users.map{ u =>
		<tr><td>@u.id</td><td>@u.uname</td><td>@u.uage</td><td><a href="/edit/@u.id">编辑</a> | <a href="/delete/@u.id" onclick="return confirm('你确定?')">删除</a></tr>
		}
	</table>
}